streamlit==1.10.0  # Assurez-vous d'utiliser la version souhaitée de Streamlit
pandas==1.3.3  # Assurez-vous d'utiliser la version souhaitée de pandas
Pillow==8.3.2  # Assurez-vous d'utiliser la version souhaitée de Pillow
openpyxl==3.0.9  # Assurez-vous d'utiliser la version souhaitée d'openpyxl
xlsxwriter==3.0.1  # Assurez-vous d'utiliser la version souhaitée de xlsxwriter
